$board-background-color: #e6f1fa;
$modal-content-background-color: #fefefe;
$modal-overlay-background: rgba(0, 0, 0, 0.4);
$modal-close-color: #aaa;
$modal-border-color: #888;

#workingarea {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#cy {
    background-color: $board-background-color;
    width: 1350px;
    height: 750px;
    border-radius: 5px;
    justify-content: flex-end;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-overlay-background;
    padding-top: 60px;
}
  
.modal.show {
    display: block;
}
  
.modal-content {
    background-color: $modal-content-background-color;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid $modal-border-color;
    width: 80%;
}
  
.close {
    color: $modal-close-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cy-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}