<div class="main-container">
  <div class="sidebar left" [class.collapsed]="isLeftCollapsed">
    <h1>Jawbone</h1>
    <input hidden type="file" #uploader accept=".txt, .jaw" (change)="upload($event)" />
    <button class="load-dialogue" (click)="uploader.click()">📎 Load file</button>
    <button class="add-node" (click)="addNode()">+ Add Node</button>
    <p class="text-block-title">Content:</p>
    <textarea type="text" class="text-block" placeholder="Enter text here" [(ngModel)]="textBlock"></textarea>
  </div>
  <div class="content">
    <div class="title-container">
      <button class="toggle-button left" (click)="toggleLeftSidebar()">☰ Resource Pane</button>
      <h1 class="main-title">Jawbone</h1>
      <button class="toggle-button right" (click)="toggleRightSidebar()">Diagram Pane ☰</button>
      <img src="assets/images/jawbone_logo.png">
    </div>
    <app-board></app-board>
  </div>
  <div class="sidebar right" [class.collapsed]="isRightCollapsed">
    <div class="sidebar-content">
      <h1>Jawbone</h1>
      <button class="reset" (click)="reset()">Reset</button><br>
      <button class="load-demo" (click)="loadDemo()">Load demo</button>
      <p class="text-block-title">Export:</p>
      <button class="export-png" (click)="exportPng()">PNG</button><br>
      <button class="export-jaw" (click)="exportJaw()">JAW (JSON)</button>
    </div>
    <div class="sidebar-bottom">
      <a href="assets/instructions.pdf" download="instructions.pdf">Download Instructions and Tutorial</a>
      <p class="prototype-text">Jawbone is a prototype application.</p>
    </div>
  </div>
</div>