<div class="main-container">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <h1>Jawbone</h1>
    <nav>
      <a>Home</a>
      <a>About</a>
    </nav>
  </div>
  <div class="content">
    <div class="title-container">
      <button class="toggle-button" (click)="toggleSidebar()">☰ Sidebar</button>
      <h1 class="main-title">Jawbone</h1>
      <img src="../assets/images/jawbone_logo.png">
    </div>
    <button class="upload-button" (click)="upload()">📎 Upload</button>

    <router-outlet>
    </router-outlet>

  </div>
</div>
