$sidebar-button-color: #99b6d8;
$function-button-color: #507DBC;
$reset-button-color: #FF6347;
$board-background-color: #cdd8e0;
$sidebar-background-color: #A1C6EA;
$primary-text-color: #333;
$hover-shadow: rgba(0, 0, 0, 0.15);
$border-color: #ccc;

.main-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: $sidebar-background-color;
    padding: 20px;
    transition: width 0.3s ease;
    border-radius: 15px;
    overflow: auto;
}

.left {
    border-radius: 0 15px 15px 0;
}

.right {
    border-radius: 15px 0 0 15px;
    order: 2;
}

.sidebar.right {
    h1 {
        text-align: right;
    }
}

.collapsed {
    width: 0;
    padding: 20px 0;
}

.main-title {
    font-size: 40px;
}

.content {
    flex-grow: 1;
    background-color: $board-background-color;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggle-button, .reset, .load-dialogue, .load-demo, .export-png, .export-json, .add-node {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
}

.toggle-button:hover, .reset:hover, .load-dialogue:hover, .load-demo:hover, .export-png:hover, .export-json:hover, .add-node:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 10px $hover-shadow;
}

.left.toggle-button, .right.toggle-button {
    background-color: $sidebar-button-color;
    position: absolute;
}

.left.toggle-button {
    left: 20px;
}

.right.toggle-button {
    right: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
}

.text-block-title {
    margin-top: 3rem;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: $primary-text-color;
}

.text-block {
    width: 95%;
    min-height: 15rem;
    resize: vertical;
    border: 1px solid $border-color;
    border-radius: 5px;
}

.load-dialogue, .load-demo, .export-json, .export-png, .add-node {
    background-color: $function-button-color;
    color: white;
}

.reset {
    background-color: $reset-button-color;
    color: white;
}

.toggle-button {
    background-color: $sidebar-button-color;
    color: white;
}